<div {{#if patient.darkmod}}class="gradientBackgroud gradientBackgroud_dark"{{else}}class="gradientBackgroud"{{/if}}>
    {{#with patient}}
        <div {{#if this.darkmod}} class="returnbutton returnbutton_dark"{{else}}class="returnbutton" {{/if}}>
            <a href="/patient/{{this._id}}/personal_detail">
                <b>
                    <i class="fas fa-angle-left"></i>
                </b>
            </a>
        </div>
        <div {{#if this.darkmod}}class="logo logo_dark"{{else}}class="logo"{{/if}}>
            <a href="/patient/{{this._id}}/homepage">
                <b>
                    Diabetes@Home
                </b>
            </a>
        </div>
    {{/with}}
        {{!-- reset fail message --}}
        {{#if message}}
        <div class="resetfail">
            {{message}}
        </div>
        {{/if}}
        {{!-- reset form --}}
        <form action="" method="post" {{#if patient.darkmod}} class ="dark"{{/if}}>
            <div class="currentPassword">
                Current Password
                <input type="password" name = "oldpass" required>
                New Password
                <input type="password" placeholder="Least 8 characters" name = "newpass"required>
                Confirm Password
                <input type="password" placeholder="Enter again" name="conpass" required>
                <input class="save" type="submit" value="Save">
            </div>
        </form>
    </div>